In [1]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt 
%matplotlib inline

from datetime import timedelta

from sklearn.model_selection import train_test_split, StratifiedKFold, KFold, cross_val_score, cross_val_predict
from sklearn.metrics import accuracy_score, roc_auc_score, mean_squared_error, confusion_matrix,\
                            f1_score,precision_score,recall_score,classification_report,cohen_kappa_score
                                                            
import xgboost as xgb
from sklearn import preprocessing
from sklearn.feature_selection import RFE, SelectKBest, chi2

In [2]:
df_phone = pd.read_csv("phone_dataset .csv", error_bad_lines=False)

b'Skipping line 821: expected 40 fields, saw 41\nSkipping line 6060: expected 40 fields, saw 41\nSkipping line 6663: expected 40 fields, saw 41\n'

In [3]:
df_phone = df_phone[['brand','model','approx_price_EUR']].drop_duplicates().dropna()

In [4]:
df_phone['model'] = df_phone['model'].str.lower()
df_phone['brand'] = df_phone['brand'].str.lower()
df_phone.drop_duplicates('model', inplace = True)

In [5]:
df_phone.head()

  brand                 model  approx_price_EUR
0  acer         iconia talk s             170.0
1  acer        liquid z6 plus             250.0
2  acer             liquid z6             120.0
3  acer  iconia tab 10 a3-a40             230.0
4  acer             liquid x2             230.0

In [6]:
df_phone['model'] = df_phone['brand'] + ' ' + df_phone['model']

In [7]:
df_phone = df_phone[['model','approx_price_EUR']]

In [8]:
df_phone.head()

                       model  approx_price_EUR
0         acer iconia talk s             170.0
1        acer liquid z6 plus             250.0
2             acer liquid z6             120.0
3  acer iconia tab 10 a3-a40             230.0
4             acer liquid x2             230.0

In [9]:
df_events = pd.read_csv('../../data/events_up_to_01062018.csv')

/home/santi/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [50]:
df_todas_las_personas = df_events[['person']].drop_duplicates()

In [24]:
df_events2 = df_events[df_events['event'] == 'viewed product']
df_events2 = df_events2[['model']]

In [25]:
df_events2['model'] = df_events2['model'].str.lower()

In [26]:
df_events2 = df_events2.drop_duplicates('model')

In [27]:
df_events2.shape

(199, 1)

In [28]:
def agregarApple(s):
    if('iphone' in s):
        return 'apple '+s
    return s

def borrarApple(s):
    if('apple 'in s):
        return s[6:]
    return s

In [29]:
df_events2['model'] = df_events2['model'].apply(agregarApple)

In [30]:
df_phone['model'].value_counts()

htc desire 700 dual sim         1
sony smartwatch 2 sw2           1
samsung a886 forever            1
nokia 6303 classic              1
lenovo s580                     1
nokia n80                       1
samsung p6800 galaxy tab 7.7    1
leeco le 2                      1
samsung galaxy s5 (usa)         1
zte nubia z17 mini              1
samsung galaxy grand prime      1
micromax x288                   1
lg stylus 2 plus                1
samsung u100                    1
motorola motoluxe xt389         1
micromax x450                   1
htc advantage x7500             1
nokia xl                        1
lg cookie lite t300             1
allview e4                      1
spice mi-720                    1
sony smartwatch 3 swr50         1
huawei ideos s7 slim cdma       1
samsung i400                    1
samsung i8530 galaxy beam       1
blackberry classic              1
lenovo tab3 10                  1
leeco le pro3                   1
htc rhyme                       1
xolo q2500                      1
                               ..
lg kc560                        1
lg trax cu575                   1
blu studio energy               1
samsung sch-w699                1
samsung galaxy tab s3 9.7       1
cat b100                        1
micromax x395                   1
sony ericsson w660              1
asus zenfone 5 a500cg           1
acer liquid jade z              1
samsung s7230e wave 723         1
lenovo a6000 plus               1
zte blade l110                  1
zte axon lux                    1
htc p3400                       1
zte v5 lux                      1
htc one m8s                     1
apple iphone 4 cdma             1
apple iphone 4                  1
sony ericsson w950              1
htc panache                     1
htc rezound                     1
htc thunderbolt 4g              1
nokia 5610 xpressmusic          1
htc raider 4g                   1
htc velocity 4g vodafone        1
sony ericsson xperia mini       1
allview x3 soul                 1
lg ke820                        1
xiaomi mi 5                     1
Name: model, Length: 4932, dtype: int64

In [31]:
df_events2['model'].value_counts()

samsung galaxy tab e 7 wi-fi                   1
samsung galaxy s6 flat                         1
samsung galaxy a9 pro 2016                     1
samsung galaxy j7 2016 metal                   1
samsung gear s2                                1
sony xperia z2                                 1
samsung galaxy j5 2016 metal                   1
samsung galaxy s6 edge plus                    1
samsung galaxy tab pro 10.1 wi-fi              1
apple iphone 6 plus                            1
apple iphone 6                                 1
apple iphone 7 plus                            1
ipad mini 3 wi-fi                              1
samsung galaxy note 3 neo duos                 1
samsung galaxy j5                              1
ipad mini wi-fi                                1
samsung galaxy j2 4g duos tv                   1
lg  x screen                                   1
apple iphone 5                                 1
samsung galaxy mega duos                       1
samsung galaxy tab 3 10.1 wi-fi + 3g           1
apple iphone se                                1
asus zenfone 3 max  32 gb                      1
lg g3 stylus d690                              1
motorola moto z2 force                         1
lg g3 d855                                     1
samsung galaxy s5                              1
motorola moto g5s                              1
samsung galaxy y duos                          1
samsung galaxy tab 4 10.1 wi-fi                1
                                              ..
samsung galaxy s4 mini duos                    1
motorola moto e2 3g dual                       1
lg k10 novo                                    1
ipad mini 4 wi-fi                              1
samsung galaxy note 3                          1
samsung galaxy s5 duos                         1
motorola moto g4 play dtv                      1
samsung galaxy a5                              1
samsung galaxy note 8                          1
samsung galaxy j7 neo                          1
samsung galaxy j7                              1
samsung galaxy tab e 9.6 wi-fi + 3g            1
samsung galaxy a5 2017                         1
samsung galaxy tab s2 9.7 wi-fi + 4g           1
apple iphone 4s                                1
apple iphone 4g                                1
asus zenfone 2                                 1
motorola moto z power edition                  1
samsung galaxy young 2 duos tv                 1
samsung galaxy a5 2016                         1
lg l prime d337                                1
quantum go 3g                                  1
samsung galaxy e5 4g duos                      1
ipad 4 wi-fi                                   1
samsung galaxy tab a com s pen 8 wi-fi + 4g    1
ipad air wi-fi                                 1
samsung galaxy a7 2017                         1
asus zenfone 2 laser                           1
quantum go 4g                                  1
apple iphone 8                                 1
Name: model, Length: 199, dtype: int64

In [32]:
celulares_con_precio = pd.merge(df_events2,df_phone, on = 'model', how = 'left')

In [33]:
celulares_con_precio = celulares_con_precio.fillna(0)

In [34]:
celulares_con_precio['model'] = celulares_con_precio['model'].apply(borrarApple)

In [35]:
celulares_con_precio

                                    model  approx_price_EUR
0                 samsung galaxy j7 prime             280.0
1                               iphone 5s             330.0
2                               iphone 6s             620.0
3                                iphone 7             760.0
4                             lg g4 h818p               0.0
5                                iphone 6             540.0
6                           iphone 6 plus             700.0
7                   motorola moto g5 plus             280.0
8                   motorola moto g4 plus             230.0
9                          ipad air wi-fi               0.0
10                 samsung galaxy s6 flat               0.0
11                 samsung galaxy s8 plus               0.0
12                      samsung galaxy s5             360.0
13                              iphone se             440.0
14                      samsung galaxy s7             500.0
15                       motorola moto x2               0.0
16                    motorola moto g3 4g               0.0
17           motorola moto x play 4g dual               0.0
18                  motorola moto g4 play             140.0
19                      samsung galaxy j5             160.0
20    samsung galaxy s5 new edition duos                0.0
21                  motorola moto g3 hdtv               0.0
22                      motorola moto g5                0.0
23                      samsung galaxy j3               0.0
24                 samsung galaxy s6 edge             420.0
25                  samsung galaxy note 8               0.0
26                         sony xperia z2             260.0
27               motorola moto g2 3g dual               0.0
28                   motorola moto z play             350.0
29                      samsung galaxy s8             700.0
..                                    ...               ...
169                        asus zenfone 6               0.0
170                     ipad mini 2 wi-fi               0.0
171        samsung galaxy gran prime duos               0.0
172                        asus zenfone 5               0.0
173              samsung gear s3 frontier             350.0
174  samsung galaxy tab s2 9.7 wi-fi + 4g               0.0
175              samsung galaxy mega duos               0.0
176        samsung galaxy tab e 9.6 wi-fi               0.0
177                ipad mini 2 wi-fi + 4g               0.0
178                     ipad 3 wi-fi + 4g               0.0
179                 asus zenfone 2 deluxe               0.0
180                   motorola moto g1 4g               0.0
181               samsung gear s3 classic             390.0
182                        quantum muv up               0.0
183   samsung galaxy tab e 9.6 wi-fi + 3g               0.0
184                          ipad 2 wi-fi               0.0
185                        asus zenfone 2               0.0
186     samsung galaxy tab e 7 wi-fi + 3g               0.0
187                   asus zenfone selfie               0.0
188                       asus zenfone go               0.0
189                  asus zenfone 2 laser               0.0
190                             asus live               0.0
191                         quantum go 3g               0.0
192     samsung galaxy s3 neo duos i9300i               0.0
193          samsung galaxy pocket 2 duos               0.0
194        samsung galaxy young 2 duos tv               0.0
195                ipad mini 4 wi-fi + 4g               0.0
196                      motorola moto e1               0.0
197       samsung galaxy tab s 10.5 wi-fi               0.0
198       samsung galaxy tab 4 10.1 wi-fi               0.0

[199 rows x 2 columns]

In [42]:
df_events['model'] = df_events['model'].str.lower()
df_events3 = pd.merge(df_events,celulares_con_precio,on = 'model',how = 'inner')

In [37]:
df_events3.drop_duplicates('person').shape

(38255, 24)

In [43]:
df_events3 = df_events3[df_events3['event'] == 'viewed product']

In [48]:
df_events3 = df_events3[['person','approx_price_EUR']].groupby(['person']).sum()

In [52]:
df_events3.reset_index(inplace = True)

In [54]:
df_events3 = pd.merge(df_todas_las_personas,df_events3,how = 'left', on = 'person').fillna(0)

In [61]:
df_events3.head()

     person  approx_price_EUR
0  4886f805            1120.0
1  ad93850f            6830.0
2  0297fc1e          236130.0
3  2d681dd8            5710.0
4  cccea85e          105710.0

In [64]:
df_events_util = df_events.drop_duplicates(['person','model'])

In [65]:
df_cant_visito = (df_events_util[df_events_util['event'] == 'viewed product'])[['person','model']].groupby('person').count()

In [69]:
df_cant_visito.reset_index(inplace = True)

In [70]:
df_cant_visito = pd.merge(df_todas_las_personas,df_cant_visito, how = 'left', on = 'person').fillna(0)
df_cant_visito.head()

     person  model
0  4886f805    1.0
1  ad93850f    3.0
2  0297fc1e   15.0
3  2d681dd8    2.0
4  cccea85e   57.0

In [73]:
df_cant_visito.columns = ['person','cantidadCelularesDistintosVisitados']

In [80]:
df_cant_visito.head()

     person  cantidadCelularesDistintosVisitados
0  4886f805                                  1.0
1  ad93850f                                  3.0
2  0297fc1e                                 15.0
3  2d681dd8                                  2.0
4  cccea85e                                 57.0

In [81]:
df_events3.columns = ['person','sumaDePreciosCelularesVisitados']

In [83]:
df_events3.head()

     person  sumaDePreciosCelularesVisitados
0  4886f805                           1120.0
1  ad93850f                           6830.0
2  0297fc1e                         236130.0
3  2d681dd8                           5710.0
4  cccea85e                         105710.0

In [84]:
df_train = pd.merge(df_events3,df_cant_visito,on = 'person', how = 'inner')

In [86]:
df_train.head()

,person,sumaDePreciosCelularesVisitados,cantidadCelularesDistintosVisitados
0,4886f805,1120.0,1.0
1,ad93850f,6830.0,3.0
2,0297fc1e,236130.0,15.0
3,2d681dd8,5710.0,2.0
4,cccea85e,105710.0,57.0

In [89]:
df_train.to_csv('Santi - FeaturePreciosCelularesYExtra',index=False)